@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Work Sans", serif;
    list-style: none;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.brand {
    font-weight: 700;
    font-size: 2.2rem;
}

.nav-links{
    display: flex;
}
.nav-link {
    padding-left: 25px;
    text-decoration: none;
    color: #424242;
}
/* gray 1 */
.text-gray {
    color: #424242;
}
/* gray 2 */
.text-light-gray {
    color: #424242;
}
.bg-light {
    background-color: rgba(255, 144, 14, .1);
}
.flex {
    display: flex;
}
.btn-primary {
    cursor: pointer;
    background-color: #FF900E;
    color: white;
    padding: 15px 25px;
    border-radius: 8px;
    border: none;
    margin-bottom: 35px;
    font-size: 1.2rem;
    font-weight: 600;
}
.navbar, .banner {
    max-width: 1200px;
    margin: 0 auto;
}
/* banner releate style */

.banner-content {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}
.banner-title {
    font-weight: 700;
    font-size: 3.5rem;
    margin-top: 3.5rem;
}
.banner-description {
    margin: 20px 0;
}
.banner img {
    width: 100%;
}

/* main styling start */
main {
    max-width: 1200px;
    margin: 0 auto;
}
.teams {
    display: flex;
    align-items: center;
    gap: 50px;
    margin-top: 100px;
    margin-bottom: 120px;
}
.team-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.team-img-container >img {
    
}
.section-title {
    font-size: 2.7rem;
}
.tow-span {
    color: #FF900E;
}
.features-description {
    padding: 30px 0;
}
/* features-section-title */

.featuers-end {
    display:flex;
    gap: 80px;
    position: relative;
}
#features-section-title {
    font-size: 2.3rem;
    margin: 15px;
    padding: 20px;
    border-left: 4px solid #FF900E;
}
.features-section-description {
    margin-bottom: 30px;
}
.dexktop {
    font-size: 1.2rem;
    color: #1a1414ce;
}
.cards-section {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 25px;
}
.dexktop-description {
    line-height: 1.6;
}
.card-item {
    padding: 15px;
    border-radius: 5px;
    box-shadow: 4px 5px 40px rgba(0, 0, 0, 0.1);
}
.images {
    width: 100%;
}

.featuers-end img {
    width: 100%;
}
.position-set {
    /* position: absolute;
    bottom: 120px;
    right: 380px; */
    margin-top: -100px;
    margin-left: -70px;
    padding: 30px;
    font-weight: 700;

}
.spna-card-one {
    font-size: 2rem;
}
/* facts-container */
.facts-container {
    margin-top: 60px;
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.fact-clard {
    border: 1px solid burlywood;
    width: 200px;
    height: 150px;
    padding-top: 20px;
    text-align: center;
    margin: auto;
    border-radius: 8px;
}

.fact-number {
    font-size: 2rem;
    color: #424242;
}
.fact-name {
    color: #424242;
}
.middle-content {
    width: 600px;
}
.middle {
    padding: 10px 0;   
    margin-top: 50px;
}
/* sponsor-info */

.sponsor-info {
    max-width: 540px;
    margin: 50px auto;
    text-align: center;
}
.sponsor-companies {
    margin-top: 100px;
    margin-bottom: 100px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.sponsor-companies img {
    width: 140px;
    filter: grayscale(100%);
}
.sponsor-title {
    margin-top: 90px;
    padding: 15px;
}

/* footer */

footer {
    text-align: center;
    margin: 130px;
    padding: 25px;
    background-color: rgba(243, 208, 104, 0.233);
}
/* responsitve media query */

@media screen and (max-width: 578px) {
    .navbar {
        flex-direction: column;
        padding: 25px;
        
    }
    .nav-links {
        gap: 10px;
        margin-top: 10px;
        font-weight: 700;
        text-align: center;
        flex-direction: column;

    }
    .banner-title {
        font-weight: 700;
        font-size: 3rem;
        margin-top: 3.5rem;
    }
    /* main @meadia qurey */
    .teams {
        padding: 25px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 50px;
        margin-top: 100px;
    }
    .team-img-container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
    }
    .features {
        text-align: center;
    }
    /* facts-container */
    .facts-container {
        margin: auto;
       justify-content: center;
       gap: 20px;
        grid-template-columns: repeat(1, 1fr);
    }
    .sponsor-companies {
        margin: 20px auto;
        display: grid;
        grid-template-columns: 1fr;
        gap: 40px;
        justify-items: center;
    }
    .featuers-end {
        align-items: center;
        margin: auto;
        justify-content: center;
        flex-direction: column;
    }
}